body {
    color: #fff;
}

/* Muscle Container Styles */
div.muscle-container {
    /*max-width: 1200px;*/
    margin: 50px auto;
    margin-left: 0;
    margin-right: 0;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    & > div.search {
        text-align: center;
        margin-top: 15px;
        & > form {
            & > input[type="text"] {
                padding: 10px;
                font-size: 1rem;
                border: 2px solid #d2bc8a;
                border-radius: 5px;
                background: linear-gradient(to right, #101010, #3E3E3E);
                color: white;
                outline: none;
                transition: border-color 0.6s ease-in-out;
            }
            & > input[type="text"]:focus {
                border-color: #fff;
            }
            & > datalist > option {
                padding: 5px;
                font-size: 1rem;
            } 
        }      
    }
    

    & > div.muscle-map {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        position: relative;
        & > div.body {
            position: relative;
            border-radius: 15px;
            padding: 10px;
            margin: 50px;
            &::before {
                content: '';
                position: absolute;
                top: -5px;
                left: -5px;
                right: -5px;
                bottom: -5px;
                border-radius: 15px;
                background: linear-gradient(180deg,  #fff, transparent, #fff); /* Degradado */
                z-index: -1;
            }
            & > svg {
                background: linear-gradient(180deg, #fff, transparent, #fff);
                height: 500px;
                width: auto;
                margin: 0 auto;
                display: block;
                & > g {
                    & > path.traps,
                    & > path.front-shoulders,
                    & > path.chest,
                    & > path.biceps,
                    & > path.obliques,
                    & > path.abdominals,
                    & > path.forearms,
                    & > path.quads,
                    & > path.traps-middle,
                    & > path.rear-shoulders,
                    & > path.lats,
                    & > path.triceps,
                    & > path.lowerback,
                    & > path.glutes,
                    & > path.hamstrings,
                    & > path.calves {
                        cursor: pointer;
                    }
                    & > path.traps:hover {
                        fill: #d2bc8a;
                    }
                    & > path.front-shoulders:hover {
                        fill: #d2bc8a;
                    }
                    & > path.chest:hover {
                        fill: #d2bc8a;
                    }
                    & > path.biceps:hover {
                        fill: #d2bc8a;
                    }
                    & > path.obliques:hover {
                        fill: #d2bc8a;
                    }
                    & > path.abdominals:hover {
                        fill: #d2bc8a;
                    }
                    & > path.forearms:hover {
                        fill: #d2bc8a;
                    }
                    & > path.quads:hover {
                        fill: #d2bc8a;
                    }
                    & > path.traps-middle:hover {
                        fill: #d2bc8a;
                    }
                    & > path.rear-shoulders:hover {
                        fill: #d2bc8a;
                    }
                    & > path.lats:hover {
                        fill: #d2bc8a;
                    }
                    & > path.triceps:hover {
                        fill: #d2bc8a;
                    }
                    & > path.lowerback:hover {
                        fill: #d2bc8a;
                    }
                    & > path.glutes:hover {
                        fill: #d2bc8a;
                    }
                    & > path.hamstrings:hover {
                        fill: #d2bc8a;
                    }
                    & > path.calves:hover {
                        fill: #d2bc8a;
                    }
                    & > g.body-map-model {
                        fill: #fff;
                    }
                }
            }
        }
        & > div.exercise-list{
            background: linear-gradient(to right, #101010, #3E3E3E);
            padding: 20px;
            border-radius: 15px;
            border: 2px solid #d2bc8a;
            margin-top: 50px;
            text-align: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: max-content;
            & > ul {
                list-style-type: none;
                padding: 0;
            }
        }
    }
}

